NODE_ENV=development
APP_PORT=5678
JWT_SECRET=dfkllfdlfldl
JWT_EXPIRES=1d
ALLOW_URL=http://localhost:3000
THROTTLE_TIME_WINDOW_SECONDS=10
THROTTLE_REQUESTS_LIMIT=100
REFRESHTOKEN_EXPIRESIN="7d"
SWAGGER_PREFIX="jhgkdf1ljg1hdjf34543kghkdfjghj3345343734567kdfhgjkdf453454hgjkdfhgkljdfhjgkh"
HASH_KEY="3e4029c8f68a40e9b7a58e622324bf22d6a754f30c4bfa2e5c5d19402e53121b"

#Для DB
DB_PORT=27018
DB_USERNAME=superadmin
DB_PASSWORD="BlaBlaBlaTraTaTa122GGttdtis"
DB_HOST=127.0.0.1
DB_NAME=another_knowledge_base
DB_REPLICATION_SET=rs0
MONGO_INITDB_ROOT_USERNAME="superadmin"
MONGO_INITDB_ROOT_PASSWORD="BlaBlaBlaTraTaTa122GGttdtis"

#Для первой миграции
SEED_ADMIN_EMAIL=admin@local.test
SEED_ADMIN_PASSWORD=Admin1234!
SEED_ADMIN_USERNAME=superadmin